<!DOCTYPE html>
<html>
<title>Babu Bhosai</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expanding Search Bar Deconstructed</title>
    <meta name="description" content="Expanding Search Bar Deconstructed" />
    <meta name="keywords" content="transition, search, expanding, search input, sliding input, css3, javascript" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <script src="/static/js/modernizr.custom.js"></script>
    <style>
    h5.titlehere{
      min-height: 100px;
    }
    </style>
<body>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  {% block javascript %}
  <script>
    function addToPlayList(videoId) {
      $.ajax({
        url: '/addToPlayList/',
        type: "post",
        data: {
         'data': videoId
        },
        error: function (xhr, e) {
           console.log(e);
        },
        // TODO : update UI that video is added too PL
        success: function (data) {
          if (data) {
             console.log(data);
          }
          document.getElementById("test").innerHTML = "Added to PlayList: " + data;
        }
      });
    }
    function Like(videoId) {
      $.ajax({
        url: '/Like/',
        type: "post",
        data: {
         'data': videoId
        },
        error: function (xhr, e) {
           console.log(e);
        },
        // TODO : update UI that video is Liked.
        success: function (data) {
          if (data) {
             console.log(data);
          }
          document.getElementById("test").innerHTML = "Liked "  + data;
        }
      });
    }
  </script>
  {% endblock %}


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="{% url 'hello' %}" class="w3-bar-item w3-button"><span class="w3-padding w3-black w3-opacity-min"><b>babu bhosai</b></span> <span class="w3-hide-small w3-text-blck">Search</span></h1></a>
    {% if tip == "SignOut" %}
      <a href="{% url 'playList' %}" class="w3-bar-item w3-button">My Playlist</a>
    {% endif %}
      <a href="{% url 'trending' %}" class="w3-bar-item w3-button">Trending</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button"><span class="w3-padding w3-red w3-opacity-min"><b>{{tip}}</b></span> </a>
      <div class="column" >
          <div id="sb-search" class="sb-search">
            <form name = "form" action = ""
               method = "POST" > {% csrf_token %}
              <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="text" />
              <button> <input class="sb-search-submit" type="submit" value=""> </button>
              <span class="sb-icon-search"></span>
            </form>
          </div>
        </div>
        <form >

    <!-- Float links to the right. Hide them on small screens -->
  </div>
</div>
<script src="/static/js/classie.js"></script>
    <script src="/static/js/uisearch.js"></script>
    <script>
      new UISearch( document.getElementById( 'sb-search' ) );
    </script>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1600px">
  <span style="display:block; height: 52px;"></span>
  <!-- recommend section -->
  <div class="w3-container w3-padding-4" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{blah}}</h3>
  </div>

  <div class="w3-row-padding w3-grayscale">

    {% for vid in vid_list %}
  <a id = "vid_{{ vid.videoInfo.id }}" style="font-size: 30px;"class="third after"
     href="{% url 'hello' %}?id={{ vid.videoInfo.id }}">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{vid.videoInfo.snippet.thumbnails.medium.url}}" align="center" >
      <h5 class="titlehere" style="color:white">{{ vid.title }}</h5>
      {% if tip == "SignOut" %}
      {% if dummy != 10 %}
        <a href="#" id = "playlist_{{ vid.videoInfo.id }}" style="text-decoration:none"><p><button
         class="w3-button w3-light-grey w3-block">addToPlayList</button></p></a>
      {% endif %}
      {% endif %}

    </div>
  </a>

    <script type="text/javascript">
    // add Listeners
    document.getElementById("vid_{{ vid.videoInfo.id }}").addEventListener("click", function() {
    });
    document.getElementById("playlist_{{ vid.videoInfo.id }}").addEventListener("click", function(event) {
      event.preventDefault();
      addToPlayList("{{ vid.videoInfo.id }}");
      document.getElementById("playlist_{{ vid.videoInfo.id }}").innerHTML = "Added to playList";
    });
    </script>

    {% endfor %}
  </div>



<!-- End page content -->
</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p><b>Team Babu Bhosai</b><p>
  <p>Bharadwaj &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; Sujay &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; <i>Pavan &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; George</i></p>
</footer>


</body>
</html>
